:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f4f5f8;
}

ion-content.splash-content {
  max-width: 450px !important;
  max-height: 900px !important;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  --background: #26dc6a;
}

.footer-badge {
  position: relative;
  width: fit-content;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 1px;
    background-color: rgba(11, 21, 40, 0.3);
  }

  &::before {
    left: -20px;
    right: -20px;
  }
}